<!doctype html>
<html lang="ko">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=0,maximum-scale=10">
<meta name="HandheldFriendly" content="true">
<meta name="format-detection" content="telephone=no">
<meta name="baidu-site-verification" content="zeV92RDZMC" />

<meta name="subject" content="더치페이계산기">
<meta name="description" content="더치페이 계산기, 각각내기 계산기, 절사기능으로 보다 간단한 계산 가능, 금액 많이 낼사람 고르기 룰렛 기능, 김영란 법 대응 계산기">
<meta name="title" content="더치페이계산기 - 계산모두나">
<meta name="author" content="더치페이계산기 - 계산모두나">
<meta name="keywords" content="더치페이 계산기, 각각내기 계산기, 절사기능으로 보다 간단한 계산 가능, 금액 많이 낼사람 고르기 룰렛 기능, 김영란 법 대응 계산기">


<title>더치페이 계산기-계산모두나</title>
<link rel="stylesheet" href="http://dutch.calcevery.me/css/mobile.css">
<!--[if lte IE 8]>
<script src="http://dutch.calcevery.me/js/html5.js"></script>
<![endif]-->
<script>
// 자바스크립트에서 사용하는 전역변수 선언
var g5_url       = "http://dutch.calcevery.me";
var g5_bbs_url   = "http://dutch.calcevery.me/bbs";
var g5_is_member = "";
var g5_is_admin  = "";
var g5_is_mobile = "1";
var g5_bo_table  = "";
var g5_sca       = "";
var g5_editor    = "";
var g5_cookie_domain = "";
</script>
<script src="http://dutch.calcevery.me/js/jquery-1.8.3.min.js"></script>
<script src="http://dutch.calcevery.me/js/jquery.menu.js"></script>
<script src="http://dutch.calcevery.me/js/common.js"></script>
<script src="http://dutch.calcevery.me/js/wrest.js"></script>
<link href="http://calcevery.me/plugin/jquery-ui-1.9.2.custom/css/hot-sneaks/jquery-ui-1.9.2.custom.css" rel="stylesheet">
<!-- <script src="http://calcevery.me/plugin/jquery-ui-1.9.2.custom/js/jquery-1.8.3.js"></script> -->
<script src="http://calcevery.me/plugin/jquery-ui-1.9.2.custom/js/jquery-ui-1.9.2.custom.js"></script>
<script src="http://dutch.calcevery.me/js/modernizr.custom.70111.js"></script>
<title>더치페이 계산기-계산모두나</title>
<meta name="description" content="더치페이 계산기-계산모두나">
<meta name="naver-site-verification" content="c9152b7d9a6964f23ca082a993297b100f957d7a"/> <!-- 네이버 웹마스터도구 -->

</head>
<body style="padding:0;">
    <div id="wrapper">
    <div id="container">
			<div><h1 style="font-size:18px;padding:0 0 0 0;">더치페이 계산기 - 물주 룰렛 돌리기</h1></div>
<div style="line-height:200%;">
	<div>
		<div style="float:left;color:#383838;font-size:16px;font-weight:bold;">금액</div>
		<div style="float:left;padding:0 0 0 10px;"><input type="text" name="pay" id="pay" style="width:150px;text-align:right;background:#ccffff;color:#ff0000">원</div>
		<div style="clear:both;;">
			<div style="float:left;font-size:16px;font-weight:bold;">절사</div>
			<div style="float:left;padding:0 0 0 10px;"><input type="radio" name="cut" value="10000"><input type="button" class="small button blue" name="cutbtn" id="cutbtn" value="만원절사" onclick="javascript:cutbtn(10000);" style="border:none;"></div>
			<div style="float:left;padding:0 10px;"><input type="radio" name="cut" value="1000" checked><input type="button" class="small button red" name="cutbtn" id="cutbtn" value="천원절사" onclick="javascript:cutbtn(1000);" style="border:none;"></div>
			<div style="float:left;"><input type="radio" name="cut" value="100"><input type="button" class="small button green" name="cutbtn" id="cutbtn" value="백원절사" onclick="javascript:cutbtn(100);" style="border:none;"></div>
		</div>
		<div style="clear:both;"></div>
	</div>
	<div style="text-align:left;color:#383838;font-size:16px;font-weight:bold;">인원</div>
	<div style="font-size:11px;">
		<table>
			<tr>
				<td><input type="button" class="medium button blue" name="person" id="person" value="2명" onclick="javascript:personcnt(2);"></td>
				<td><input type="button" class="medium button green" name="person" id="person" value="3명" onclick="javascript:personcnt(3);"></td>
				<td><input type="button" class="medium button yellow" name="person" id="person" value="4명" onclick="javascript:personcnt(4);"></td>
				<td><input type="button" class="medium button orange" name="person" id="person" value="5명" onclick="javascript:personcnt(5);"></td>
				<td><input type="button" class="medium button blue" name="person" id="person" value="6명" onclick="javascript:personcnt(6);"></td>
				<td><input type="button" class="medium button green" name="person" id="person" value="7명" onclick="javascript:personcnt(7);"></td>
				<td><input type="button" class="medium button yellow" name="person" id="person" value="8명" onclick="javascript:personcnt(8);"></td>
				<td><input type="button" class="medium button orange" name="person" id="person" value="9명" onclick="javascript:personcnt(9);"></td>
				<td><input type="button" class="medium button blue" name="person" id="person" value="10명" onclick="javascript:personcnt(10);"></td>
			</tr>
			<tr>
				<td colspan="8" style="line-height:100%;padding:5px 0 0 10px;">
					인원 : <input type="text" name="personcnt" id="personcnt" size="4" style="width:70px;text-align:right;background:#ccffff;color:#ff0000" value="3">명(직접입력(99이하))
				</td>
			</tr>
		</table>
	</div>
	<div>
		<div style="float:left;">(option)많이내기(물주)</div>
		<div style="float:left;"><input type="text" name="more" id="more" style="width:200px;color:#ff0000">원</div>
		<div style="clear:both;"></div>
	</div>

	<div style="width:100%;margin:0 auto;text-align:center;">
		<div class="large button red" onclick="javascript:calculate();" style="margin:0 auto;text-align:center;">더치페이 계산</div>
	</div>
	<div id="result" class="" style=""></div>
	
	<div id="kakaolink" style="display:none;width:100%;margin:10px 0;;background:#FFF;"><script src="//developers.kakao.com/sdk/js/kakao.min.js"></script>
<style type='text/css'>
  /* <![CDATA[ */
    #file-input-wrapper {
    	display : none ;
    	margin-top : 50px ;
    }
  /* ]]> */
</style>

<div>
	<div style="display:block;color:#ff6600;">
	
	</div>
</div>
<script type='text/javascript'>
  //<![CDATA[

	function sendLink() {
		var pay = parseInt($("#pay").val());
		var personcnt = parseInt($("#personcnt").val());
		var cut = parseInt($("input[name=cut]:checked").val());
		var more = $("#more").val();
		var roullet = parseInt($("#roullet_num").val());

		if(pay > 999 && personcnt > 1){
			var kakaourl = "http://dutch.calcevery.me?link=kakao&pay="+pay+"&personcnt="+personcnt+"&cut="+cut+"&more="+more+"&roullet="+roullet;
			console.log(kakaourl);
			// // 사용할 앱의 JavaScript 키를 설정해 주세요.
			Kakao.init('0f22cf489e6474901df03e3e5b3378e2');
			// // 카카오톡 링크 버튼을 생성합니다. 처음 한번만 호출하면 됩니다.
			Kakao.Link.createTalkLinkButton({
			  container: '#kakao-link-btn',
			  label: '더치페이 계산결과 입니다.',
			  image: {
				src: 'http://dn.api1.kage.kakao.co.kr/14/dn/btqaWmFftyx/tBbQPH764Maw2R6IBhXd6K/o.jpg',
				width: '300',
				height: '200'
			  },
			  webButton: {
				text: '더치페이 계산결과 입니다.',
				url: kakaourl // 앱 설정의 웹 플랫폼에 등록한 도메인의 URL이어야 합니다.
			  }
			});
		}else{
			alert("카톡보내기는 현재 계산 결과를 보내는 기능입니다. \n 금액이랑 인원은 필수 입력입니다.");
		}
	}
  //]]>
</script>
</div>

	<div style="width:100%;height:1px;margin:20px 0 0 0;border-top:1px solid #CCC;"></div>
	<div id="today_roullet" style="display:none;">
		<div style="padding:10px 0;font-size:16px;color:#383838;">오늘의 물주 룰렛 <span style="font-size:12px;">(거 호구되기 딱 좋은날씨네~)</span></div>
		<link rel="stylesheet" href="http://dutch.calcevery.me/plugin/roulette.js-master/sample/bootstrap.css"></link>
		<link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.14/themes/ui-lightness/jquery-ui.css">
		<link rel="stylesheet" href="http://dutch.calcevery.me/plugin/roulette.js-master/sample/bootstrap-responsive.css"></link>
		<link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.9.0/themes/ui-lightness/jquery-ui.css">
		<link rel="stylesheet" href="http://dutch.calcevery.me/plugin/roulette.js-master/sample/demo.css"></link>

		<input type="hidden" name="roullet_num" id="roullet_num">
		<div class="row">
			<div class="span4">
				<div class="right_container">
					<span class="image_sample">
						
					</span>
				</div>
			</div>
			<div class="span4" style="width:100%;">
				<div class="roulette_container" style="float:left;">
					<div class="roulette" style="display:none;">
					</div>
				</div>
				<div class="btn_container" style="float:left;">
					<p>
					<div>
						<button class="btn btn-large btn-primary start"> START </button>
					</div>
					<div>
						<button class="stop btn-large btn btn-warning"> STOP </button>
					</div>
					</p>
				</div>
				<div style="clear:both;"></div>
			</div>
		</div>
	</div>
	<div style="padding:0 0 0 5px;">
		
	</div>
</div>
<script type="text/javascript">
<!--

	$(document).ready(function() {//카톡으로 접속했을때.
		var link = "";
		if(link == "kakao"){
			$("#pay").val("");
			$("#personcnt").val("");
			$("#more").val("");
			$("#cut").val("");
			$("#roullet").val("");
			calculate();
		}
	});

	function trimming(){//절사란 토글
		$( "#trimming" ).toggle( "slow", function() {
			// Animation complete.
		});
	}

	function comma(str) {
		str = String(str);
		return str.replace(/(\d)(?=(?:\d{3})+(?!\d))/g, '$1,');
	}

	function personcnt(cnt){ //인원 버튼
		$("#personcnt").val(cnt);
	}
	
	function cutbtn(num){//절사 버튼
		$('input:radio[name=cut]:input[value='+num+']').attr("checked", true);
	}

	function calculate() {
		if(!$("#pay").val()){
			alert("금액을 입력하세요.");
			$("#pay").focus();
			return false;
		}else if(parseInt($("#pay").val()) < 1000){
			alert("천원 이하는 셀프계산하세요 ^^;;;;;");
			$("#pay").focus();
			return false;
		}
		if(!$("#personcnt").val()){
			alert("인원을 선택하세요.");
			$("#personcnt").focus();
			return false;
		}else if($("#personcnt").val() == 1){
			alert("그러지 마요~ 혼밥은 이러지 않아도 되요~");
			$("#personcnt").focus();
			return false;
		}
		if($("#personcnt").val() > 99){
			alert("99이하만 가능합니다.");
		}
		var pay = parseInt($("#pay").val());
		var personcnt = parseInt($("#personcnt").val());
		var cut = parseInt($("input[name=cut]:checked").val());
		var npay = parseInt(pay/personcnt);
		var calculated = 0;	//계산 실행 되었을 때만 1로 변경

		if($("#more").val() > 0){	//많이내기가 있을 경우
			if(npay >= $("#more").val()){	//많이내기가 1/n보다 적을 때
				alert("거 인간적으로 쏠거면 "+(Math.floor(npay))+"원 보다는 더 내야죠~");
			}else if(parseInt($("#more").val()) > pay){	//많이내기가 총 금액보다 적을 때
				alert("돈 많은거 알겠고요.. 그래서 얼마 낼건데요.총 금액보다는 적게 내야 해요.");
			//}else if(parseInt($("#more").val()) > 50000){
			//	alert("김영란법 걸릴수 있어요 ^^;;");
			}else{ //많이내기 포함 계산
				var paymore = parseInt((pay-$("#more").val())/(personcnt-1));
				var julsamore = (Math.floor(paymore/cut)*cut);
				var namujimore = (pay-$("#more").val())-(julsamore*(personcnt-1));
				$("#result").html("<div>물주는 "+comma($("#more").val())+"원 내고</div>");
				if(namujimore == 0){
					$("#result").append("<div>각각 "+comma((Math.floor((paymore/cut))*cut))+"원 씩 내면 됩니다.");
				}else{
					$("#result").append("<div>각각 "+comma((Math.floor((paymore/cut))*cut))+"원 씩 내고,");
					$("#result").append("<div>한명은 "+comma(((Math.floor((paymore/cut))*cut)+namujimore))+"원(절사금액 나머지 "+comma(namujimore)+"원 포함) 내야합니다.<a href=\"#today_roullet\" style=\"color:#3333cc;\">룰렛돌리기</a></div>");
					if(parseInt($("#more").val()) > 1){
						$("#result").append("<div>아니면 물주가"+comma((parseInt($("#more").val())+namujimore))+"원 내세요(절사금액까지 몽땅 쏘세여~)</div>");
					}
				}
				$("#result").addClass("result_style");
				calculated = 1;
			}
		}else{	//많이내기 없을 경우
			var julsa = Math.floor((npay)/cut)*cut;
			var namuji = pay-(julsa*personcnt);
			var dutchpay = Math.floor((npay)/cut)*cut;
			if(namuji == 0){	//절사한 나머지가 없을 때
				$("#result").html("<div>각각 "+comma((dutchpay))+"원 씩 내면 됩니다.</div>");
			}else{	//절사한 나머지가 있을 때
				$("#result").html("<div>각각 "+comma((dutchpay))+"원 씩 내면 되고,</div>");
				$("#result").append("<div>한명은 "+comma((dutchpay+namuji))+"원(절사금액 나머지 : "+comma(namuji)+"원 포함) 내야 합니다. <a href=\"#today_roullet\" style=\"color:#3333cc;\">룰렛돌리기</a></div>");
			}
			$("#result").addClass("result_style");
			//alert(Math.floor((npay)/cut)*cut);
			calculated = 1;
		}

		if(calculated == 1){	//룰렛 만들기
			$(".image_sample").empty();
			$(".roulette").empty();
			$(".image_sample").html("<img src='http://dutch.calcevery.me/img/pokemon/po_1.png'/>");	//많이내기 때문에 1번 룰렛은 고정으로 생성
			$(".roulette").html("<img src='http://dutch.calcevery.me/img/pokemon/po_1.png'/>");	//많이내기 때문에 1번 룰렛은 고정으로 생성
			var roulletcnt = personcnt;
			if(parseInt($("#more").val()) > 1){ //많이내기 있을 때 많이내는 사람은 룰렛  제외
				roulletcnt = personcnt-1;
			}
			for(var n = 2; n <= roulletcnt; n++){	//인원수에 따라 룰렛 생성
				$(".image_sample").append("<img src='http://dutch.calcevery.me/img/pokemon/po_"+n+".png'/>");
				$(".roulette").append("<img src='http://dutch.calcevery.me/img/pokemon/po_"+n+".png'/>");
			}
			//if(personcnt == 3){
				roulettefn();
			//}else{
			//	$('div.roulette').roulette(option);
			//}
			$("#kakaolink").show();
			$("#today_roullet").show();
		}
	}

	function roulettefn() {
			$('.roulette').find('img').hover(function(){
				console.log($(this).height());
			});
			var appendLogMsg = function(msg) {
				$('#msg')
			.append('<p class="muted">' + msg + '</p>')
			.scrollTop(100000000);

			}
			var p = {
				startCallback : function() {
					appendLogMsg('start');
					$('#speed, #duration').slider('disable');
					$('#stopImageNumber').spinner('disable');
					$('.start').attr('disabled', 'true');
					$('.stop').removeAttr('disabled');
				},
				slowDownCallback : function() {
					appendLogMsg('slowdown');
					$('.stop').attr('disabled', 'true');
				},
				stopCallback : function($stopElm) {
					appendLogMsg('stop');
					$('#speed, #duration').slider('enable');
					$('#stopImageNumber').spinner('enable');
					$('.start').removeAttr('disabled');
					$('.stop').attr('disabled', 'true');
				}

			}
			var rouletter = "";
			rouletter = $('div.roulette');
			rouletter.roulette(p);	
			console.log("::>>>"+rouletter);
			$('.stop').click(function(){
				var stopImageNumber = $('.stopImageNumber').val();
				if(stopImageNumber == "") {
					stopImageNumber = null;
				}
				rouletter.roulette('stop');	
			});
			$('.stop').attr('disabled', 'true');
			$('.start').click(function(){
				rouletter.roulette('start');	
			});

			var updateParamater = function(){
				p['speed'] = 10;//Number($('.speed_param').eq(0).text());
				p['duration'] = 5;//Number($('.duration_param').eq(0).text());
				p['stopImageNumber'] = -1;//Number($('.stop_image_number_param').eq(0).text());
				rouletter.roulette('option', p);	
			}
			var updateSpeed = function(speed){
				$('.speed_param').text(speed);
			}
			$('#speed').slider({
				min: 1,
				max: 30,
				value : 10,
				slide: function( event, ui ) {
					updateSpeed(ui.value);
					updateParamater();
				}
			});
			updateSpeed($('#speed').slider('value'));

			var updateDuration = function(duration){
				$('.duration_param').text(duration);
			}
			$('#duration').slider({
				min: 2,
				max: 10,
				value : 3,
				slide: function( event, ui ) {
					updateDuration(ui.value);
					updateParamater();
				}
			});
			updateDuration($('#duration').slider('value'));

			var updateStopImageNumber = function(stopImageNumber) {
				//$('.image_sample').children().css('opacity' , 0.2);
				$('.image_sample').children().filter('[data-value="' + stopImageNumber + '"]').css('opacity' , 1);
				$('.stop_image_number_param').text(stopImageNumber);
				updateParamater();
			}

			$('#stopImageNumber').spinner({
				spin: function( event, ui ) {
					var imageNumber = ui.value;
					if ( ui.value > 4 ) {
						$( this ).spinner( "value", -1 );
						imageNumber = 0;	
						updateStopImageNumber(-1);		
						return false;
					} else if ( ui.value < -1 ) {
						$( this ).spinner( "value", 4 );
						imageNumber = 4;	
						updateStopImageNumber(4);		
						return false;
					}
					updateStopImageNumber(imageNumber);		
				}
			});
			$('#stopImageNumber').spinner('value', 0);
			updateStopImageNumber($('#stopImageNumber').spinner('value'));		

			$('.image_sample').children().click(function(){
				var stopImageNumber = $(this).attr('data-value');
				$('#stopImageNumber').spinner('value', stopImageNumber);
				updateStopImageNumber(stopImageNumber);
			});
	}



//-->
</script>
<style>
#person {border:none;}
input[type=text] {font-size:1em;padding:5px;font-size:16px;border:1px solid #CCC;}
.result_style {margin:20px 0 0 0;padding:0 0 0 10px;border:2px solid #999;-webkit-box-shadow: 6px 6px 11px -4px rgba(82,82,82,1);-moz-box-shadow: 6px 6px 11px -4px rgba(82,82,82,1);box-shadow: 6px 6px 11px -4px rgba(82,82,82,1);}
#dark{
	background-color:#333;
	border:1px solid #000;
	padding:10px;
	margin-top:20px;}
	
#light{
	background-color:#FFF;
	border:1px solid #dedede;
	padding:10px;
	margin-top:20px;}	
	
li{ 
list-style:none;
	padding-top:10px;
	padding-bottom:10px;}	

.button, .button:visited {
	background: #222 url(overlay.png) repeat-x; 
	display: inline-block; 
	padding: 5px 10px 6px; 
	color: #fff; 
	text-decoration: none;
	-moz-border-radius: 6px; 
	-webkit-border-radius: 6px;
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.6);
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.6);
	text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
	border-bottom: 1px solid rgba(0,0,0,0.25);
	position: relative;
	cursor: pointer
}
 
	.button:hover							{ background-color: #111; color: #fff; }
	.button:active							{ top: 1px; }
	.small.button, .small.button:visited 			{ font-size: 11px}
	.button, .button:visited,
	.medium.button, .medium.button:visited 		{ font-size: 13px; 
												  font-weight: bold; 
												  line-height: 1; 
												  text-shadow: 0 -1px 1px rgba(0,0,0,0.25); 
												  }
												  
	.large.button, .large.button:visited 			{ font-size: 14px; 
													  padding: 8px 14px 9px; }
													  
	.super.button, .super.button:visited 			{ font-size: 34px; 
													  padding: 8px 14px 9px; }
	
	.pink.button, .magenta.button:visited		{ background-color: #e22092; }
	.pink.button:hover							{ background-color: #c81e82; }
	.green.button, .green.button:visited		{ background-color: #91bd09; }
	.green.button:hover						    { background-color: #749a02; }
	.red.button, .red.button:visited			{ background-color: #e62727; }
	.red.button:hover							{ background-color: #cf2525; }
	.orange.button, .orange.button:visited		{ background-color: #ff5c00; }
	.orange.button:hover						{ background-color: #d45500; }
	.blue.button, .blue.button:visited		    { background-color: #2981e4; }
	.blue.button:hover							{ background-color: #2575cf; }
	.yellow.button, .yellow.button:visited		{ background-color: #ffb515; }
	.yellow.button:hover						{ background-color: #fc9200; }
</style> 

    </div>
	<div id="ft">
				<div id="ft_copy">
			Copyright &copy; <b>calcevery.me</b> All rights reserved.<br>
			<a href="#">상단으로</a>
		</div>
	</div>
</div> <!-- max-width close -->


<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-74698906-2', 'auto');
  ga('send', 'pageview');

</script>

<script>
$(function() {
    // 폰트 리사이즈 쿠키있으면 실행
    font_resize("container", get_cookie("ck_font_resize_rmv_class"), get_cookie("ck_font_resize_add_class"));
});
</script>



<!-- ie6,7에서 사이드뷰가 게시판 목록에서 아래 사이드뷰에 가려지는 현상 수정 -->
<!--[if lte IE 7]>
<script>
$(function() {
    var $sv_use = $(".sv_use");
    var count = $sv_use.length;

    $sv_use.each(function() {
        $(this).css("z-index", count);
        $(this).css("position", "relative");
        count = count - 1;
    });
});
</script>
<![endif]-->
<div style="font-size:0.1px;line-height:0;color:#FFFFFF;">
</div>

</body>
</html>

